<div class="marquee-wrap">
  <div class="marquee-track">
    <span>Webentwicklung</span><span class="dot">✦</span>
    <span>Kurzvideos</span><span class="dot">✦</span>
    <span>Social Media</span><span class="dot">✦</span>
    <span>Branding</span><span class="dot">✦</span>
    <span>Content Creation</span><span class="dot">✦</span>
    <span>Webentwicklung</span><span class="dot">✦</span>
    <span>Kurzvideos</span><span class="dot">✦</span>
    <span>Social Media</span><span class="dot">✦</span>
    <span>Branding</span><span class="dot">✦</span>
    <span>Content Creation</span><span class="dot">✦</span>
    <span>Webentwicklung</span><span class="dot">✦</span>
    <span>Kurzvideos</span><span class="dot">✦</span>
    <span>Social Media</span><span class="dot">✦</span>
    <span>Branding</span><span class="dot">✦</span>
    <span>Content Creation</span><span class="dot">✦</span>
    <span>Webentwicklung</span><span class="dot">✦</span>
    <span>Kurzvideos</span><span class="dot">✦</span>
    <span>Social Media</span><span class="dot">✦</span>
    <span>Branding</span><span class="dot">✦</span>
    <span>Content Creation</span><span class="dot">✦</span>
  </div>
</div>
